# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data outputs
/data/*.csv
/models/*.pkl
/logs/*.log
